@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");


$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
);

$bpphone: 480px;
$bptablet: 768px;
$bplaptop: 1024px;
$bplargelaptop: 1200px;

$mainblue: #10c9c3;
$hoverblue: #0dafaa;
$maingrey: #f5f5f5;
$darkgrey: #d8d8d8;
$mainblack: #141414;
$toodarkgrey: #b1b1b1;

* {
  line-height: 1.7em;
  font-family: "Baloo Thambi 2", cursive;
  font-size: 16px;
}

header {
  width: 100%;
  height: auto;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  .menu {
    overflow-y: scroll;
    top: 0;
    right: -100%;
    position: fixed;
    width: 100%;
    height: 100%;
    transition: right 0.4s ease-in-out;
    background-color: white;
    z-index: 12;

    @media (min-width: $bptablet) {
      display: none;
    }

    &-close-button {
      color: black;
      cursor: pointer;
      position: absolute;
      top: 10px;
      z-index: 12;
      right: 10px;
    }

    &-nav-wrap {
      padding-top: 150px;
      text-align: center;

      .menu-nav {
        list-style: none;
        padding: 0;

        li {
          padding-bottom: 10px;

          .svg-wrapper {
            position: relative;
            height: 60px;
            margin: 0 auto;
            width: 200px;
          }
          .shape {
            stroke-dasharray: 140 540;
            stroke-dashoffset: -282;
            stroke-width: 5px;
            fill: transparent;
            stroke: #19f6e8;
            border-bottom: 2px solid black;
            transition: stroke-width 1s, stroke-dashoffset 1s,
              stroke-dasharray 1s;
          }
          .text {
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 4px;
            color: $mainblack;
            top: -46px;
            text-align: center;
            position: relative;
          }
          .svg-wrapper:hover {
            .shape {
              stroke-width: 2px;
              stroke-dashoffset: 0;
              stroke-dasharray: 760;
            }
          }

          a {
            color: $mainblack;
            text-decoration: none;
            cursor: pointer;
            font-size: 25px;
          }
        }
      }
    }
  }

  .top-wrap {
    padding: 24px;

    .nav-wrap {
      font-size: 18px;
      font-weight: 400;

      
      @media (max-width: calc(#{$bptablet} - 0.02px)) {
        & {
          display: none;
        }
      }

      & a {
        color: white;
        text-decoration: none;
      }

      & a::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        background: $mainblue;
        border-radius: 3px;
        height: 3px;
        width: 0;
        transition: width 0.25s ease;
        -webkit-transition: width 0.25s ease;
      }
      & a:hover::after {
        width: 100%;
        left: 0;
      }
    }

    .menu-button {
      cursor: pointer;
      display: block;
    }
    @media (min-width: $bptablet) {
      .menu-button {
        display: none;
      }
    }

    .header-description {
      padding: 100px 0 50px 0;
      text-align: center;

      .contact-button {
        font-size: 18px;
        background-color: $mainblue;
        height: 42px;
        cursor: pointer;
        padding: 8px 0;

        &:hover {
          background-color: $hoverblue;
        }
      }
    }
  }
}

main {
  overflow-x: hidden;

  .about-us {
    .container {
      padding: 100px 0;

      .about-us {
        text-align: center;
        padding-bottom: 20px;
      }
    }
  }

  .skills {
    width: 100%;
    height: auto;
    background-image: url(../images/mainjpg2.jpg);
    background-size: cover;
    color: white;
    font-size: 22px;
    background-repeat: no-repeat;

    .container {
      padding: 100px 24px;

      .progress-bar-background {
        height: 7px;
        background-color: #f5f5f5;
        border-radius: 5px;
        margin-bottom: 20px;

        .bar-filler {
          border-radius: 5px;
          background-color: #10c9c3;
          height: 100%;
          width: 0%;
        }
      }
    }
  }

  .experience {
    color: white;
    background-color: #10c9c3;

    .container {
      padding-bottom: 80px;
      .col {
        display: flex;
        padding-top: 80px;

        .exp-nums {
          font-size: 5px;
          padding-left: 20px;
          line-height: 1.6em;
          margin: 0;
        }

        p:last-child {
          margin: 0;
          font-size: 16px;
          padding-left: 20px;
          line-height: 1.6em;
        }
      }
    }
  }

  .projects {
    background-color: $maingrey;
    width: 100%;
    height: auto;

    .container {
      padding: 24px;
      padding-bottom: 60px;

      .col {
        padding: 15px;

        h3 {
          margin-top: 20px;
          text-align: center;
        }

        .project-img {
          background-size: 100% 100%;
          height: 300px;
          background-repeat: no-repeat;

          @media (max-width: $bplargelaptop) {
            height: 260px;
          }

          @media (max-width: 991px) {
            height: 340px;
          }

          @media (max-width: calc(#{$bptablet} - 0.02px)) {
            height: 260px;
          }

          @media (max-width: $bpphone) {
            height: 200px;
          }

          @media (max-width:  calc(#{$bpphone} - 100px)) {
            height: 170px;
          }

          &-shadow {
            cursor: pointer;
            color:white;
            transition: opacity 150ms linear;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            opacity: 0;

            &:hover {
              opacity: 1;
            }

            i {
              position: absolute;
              top: 50%;
              left: 45%;
            }
          }
        }
      }
    }
  }

  .load-project-container {
    background-color: $darkgrey;
    cursor: pointer;
  }

  .proccess-video {
    .container {
      text-align: center;
      padding: 100px 0;

      .video-frame {
        height: 520px;
      }

      @media (max-width:  calc(#{$bptablet} - 0.02px)) {
        .video-frame {
          height: 300px;
        }
      }

      @media (max-width: calc(#{$bpphone} - 0.02px)) {
        .video-frame {
          height: 250px;
        }
      }
    }
  }

  .services {
    background-color: $darkgrey;

    .container {
      padding: 0 24px 0 24px;

      .col {
        text-align: center;
      }
    }
  }

  .quoteblock {
    background-color: $mainblue;

    .container {
      padding-bottom: 30px;

      .col {
        padding: 100px 0;

        .carousel-indicators {
          bottom: -60px;

          li {
            width: 10px;
            height: 10px;
            border-radius: 50%;
          }
        }

        .carousel-item {
          height: 160px;

          p {
            text-align: center;
            color: $maingrey;
            font-size: 23px;

            &:last-child {
              text-align: end;
              color: #bae99b;
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .clients {
    .clients-logo {
      width: 200px;
      height: 200px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin: auto;
    }
  }

  .order {
    background-color: $maingrey;

    .container {
      padding: 100px 0;
    }

    .order-form {
      .name-input-col {
        text-align: left;
      }

      .email-input-col {
        text-align: right;
      }

      input {
        width: 100%;
        height: 45px;
        outline: 0;
        padding-left: 10px;
      }

      .send-button {
        background-color: $mainblue;
        color: white;
        cursor: pointer;

        
        &:hover {
          background-color: $hoverblue;
        }
      }
    }
  }
}

footer {
  background-color: $mainblack;
  color: $toodarkgrey;

  .container {
    padding: 70px 24px;

    .footer-email {
      p {
        text-align: right;
      }
    }
    .footer-contacts {
      p {
        margin: 0;
        text-align: end;
      }
    }

    @media (max-width: calc(#{$bptablet} - 0.02px) ) {
      .footer-contacts {
        p {
          text-align: center;
        }
      }
      .footer-email {
        p {
          text-align: center;
        }
      }
      .col {
        p {
          text-align: center;
        }
      }
    }
  }
}
