@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");
* {
  line-height: 1.7em;
  font-family: "Baloo Thambi 2", cursive;
  font-size: 16px; }

header {
  width: 100%;
  height: auto;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white; }
  header .menu {
    overflow-y: scroll;
    top: 0;
    right: -100%;
    position: fixed;
    width: 100%;
    height: 100%;
    transition: right 0.4s ease-in-out;
    background-color: white;
    z-index: 12; }
    @media (min-width: 768px) {
      header .menu {
        display: none; } }
    header .menu-close-button {
      color: black;
      cursor: pointer;
      position: absolute;
      top: 10px;
      z-index: 12;
      right: 10px; }
    header .menu-nav-wrap {
      padding-top: 150px;
      text-align: center; }
      header .menu-nav-wrap .menu-nav {
        list-style: none;
        padding: 0; }
        header .menu-nav-wrap .menu-nav li {
          padding-bottom: 10px; }
          header .menu-nav-wrap .menu-nav li .svg-wrapper {
            position: relative;
            height: 60px;
            margin: 0 auto;
            width: 200px; }
          header .menu-nav-wrap .menu-nav li .shape {
            stroke-dasharray: 140 540;
            stroke-dashoffset: -282;
            stroke-width: 5px;
            fill: transparent;
            stroke: #19f6e8;
            border-bottom: 2px solid black;
            transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s; }
          header .menu-nav-wrap .menu-nav li .text {
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 4px;
            color: #141414;
            top: -46px;
            text-align: center;
            position: relative; }
          header .menu-nav-wrap .menu-nav li .svg-wrapper:hover .shape {
            stroke-width: 2px;
            stroke-dashoffset: 0;
            stroke-dasharray: 760; }
          header .menu-nav-wrap .menu-nav li a {
            color: #141414;
            text-decoration: none;
            cursor: pointer;
            font-size: 25px; }
  header .top-wrap {
    padding: 24px; }
    header .top-wrap .nav-wrap {
      font-size: 18px;
      font-weight: 400; }
      @media (max-width: calc(768px - 0.02px)) {
        header .top-wrap .nav-wrap {
          display: none; } }
      header .top-wrap .nav-wrap a {
        color: white;
        text-decoration: none; }
      header .top-wrap .nav-wrap a::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        background: #10c9c3;
        border-radius: 3px;
        height: 3px;
        width: 0;
        transition: width 0.25s ease;
        -webkit-transition: width 0.25s ease; }
      header .top-wrap .nav-wrap a:hover::after {
        width: 100%;
        left: 0; }
    header .top-wrap .menu-button {
      cursor: pointer;
      display: block; }
    @media (min-width: 768px) {
      header .top-wrap .menu-button {
        display: none; } }
    header .top-wrap .header-description {
      padding: 100px 0 50px 0;
      text-align: center; }
      header .top-wrap .header-description .contact-button {
        font-size: 18px;
        background-color: #10c9c3;
        height: 42px;
        cursor: pointer;
        padding: 8px 0; }
        header .top-wrap .header-description .contact-button:hover {
          background-color: #0dafaa; }

main {
  overflow-x: hidden; }
  main .about-us .container {
    padding: 100px 0; }
    main .about-us .container .about-us {
      text-align: center;
      padding-bottom: 20px; }
  main .skills {
    width: 100%;
    height: auto;
    background-image: url(../images/mainjpg2.jpg);
    background-size: cover;
    color: white;
    font-size: 22px;
    background-repeat: no-repeat; }
    main .skills .container {
      padding: 100px 24px; }
      main .skills .container .progress-bar-background {
        height: 7px;
        background-color: #f5f5f5;
        border-radius: 5px;
        margin-bottom: 20px; }
        main .skills .container .progress-bar-background .bar-filler {
          border-radius: 5px;
          background-color: #10c9c3;
          height: 100%;
          width: 0%; }
  main .experience {
    color: white;
    background-color: #10c9c3; }
    main .experience .container {
      padding-bottom: 80px; }
      main .experience .container .col {
        display: flex;
        padding-top: 80px; }
        main .experience .container .col .exp-nums {
          font-size: 5px;
          padding-left: 20px;
          line-height: 1.6em;
          margin: 0; }
        main .experience .container .col p:last-child {
          margin: 0;
          font-size: 16px;
          padding-left: 20px;
          line-height: 1.6em; }
  main .projects {
    background-color: #f5f5f5;
    width: 100%;
    height: auto; }
    main .projects .container {
      padding: 24px;
      padding-bottom: 60px; }
      main .projects .container .col {
        padding: 15px; }
        main .projects .container .col h3 {
          margin-top: 20px;
          text-align: center; }
        main .projects .container .col .project-img {
          background-size: 100% 100%;
          height: 300px;
          background-repeat: no-repeat; }
          @media (max-width: 1200px) {
            main .projects .container .col .project-img {
              height: 260px; } }
          @media (max-width: 991px) {
            main .projects .container .col .project-img {
              height: 340px; } }
          @media (max-width: calc(768px - 0.02px)) {
            main .projects .container .col .project-img {
              height: 260px; } }
          @media (max-width: 480px) {
            main .projects .container .col .project-img {
              height: 200px; } }
          @media (max-width: calc(480px - 100px)) {
            main .projects .container .col .project-img {
              height: 170px; } }
          main .projects .container .col .project-img-shadow {
            cursor: pointer;
            color: white;
            transition: opacity 150ms linear;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            opacity: 0; }
            main .projects .container .col .project-img-shadow:hover {
              opacity: 1; }
            main .projects .container .col .project-img-shadow i {
              position: absolute;
              top: 50%;
              left: 45%; }
  main .load-project-container {
    background-color: #d8d8d8;
    cursor: pointer; }
  main .proccess-video .container {
    text-align: center;
    padding: 100px 0; }
    main .proccess-video .container .video-frame {
      height: 520px; }
    @media (max-width: calc(768px - 0.02px)) {
      main .proccess-video .container .video-frame {
        height: 300px; } }
    @media (max-width: calc(480px - 0.02px)) {
      main .proccess-video .container .video-frame {
        height: 250px; } }
  main .services {
    background-color: #d8d8d8; }
    main .services .container {
      padding: 0 24px 0 24px; }
      main .services .container .col {
        text-align: center; }
  main .quoteblock {
    background-color: #10c9c3; }
    main .quoteblock .container {
      padding-bottom: 30px; }
      main .quoteblock .container .col {
        padding: 100px 0; }
        main .quoteblock .container .col .carousel-indicators {
          bottom: -60px; }
          main .quoteblock .container .col .carousel-indicators li {
            width: 10px;
            height: 10px;
            border-radius: 50%; }
        main .quoteblock .container .col .carousel-item {
          height: 160px; }
          main .quoteblock .container .col .carousel-item p {
            text-align: center;
            color: #f5f5f5;
            font-size: 23px; }
            main .quoteblock .container .col .carousel-item p:last-child {
              text-align: end;
              color: #bae99b;
              font-size: 20px; }
  main .clients .clients-logo {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto; }
  main .order {
    background-color: #f5f5f5; }
    main .order .container {
      padding: 100px 0; }
    main .order .order-form .name-input-col {
      text-align: left; }
    main .order .order-form .email-input-col {
      text-align: right; }
    main .order .order-form input {
      width: 100%;
      height: 45px;
      outline: 0;
      padding-left: 10px; }
    main .order .order-form .send-button {
      background-color: #10c9c3;
      color: white;
      cursor: pointer; }
      main .order .order-form .send-button:hover {
        background-color: #0dafaa; }

footer {
  background-color: #141414;
  color: #b1b1b1; }
  footer .container {
    padding: 70px 24px; }
    footer .container .footer-email p {
      text-align: right; }
    footer .container .footer-contacts p {
      margin: 0;
      text-align: end; }
    @media (max-width: calc(768px - 0.02px)) {
      footer .container .footer-contacts p {
        text-align: center; }
      footer .container .footer-email p {
        text-align: center; }
      footer .container .col p {
        text-align: center; } }

/*# sourceMappingURL=style.css.map */
